*{
    font-family: 'Oswald', sans-serif;
}

header{
    display: flex;
    margin: 0.4vw;
}

aside{
    position: absolute;
    min-width: 10vw;
    min-height: 40vh;
    background-color: rgb(231, 230, 230);
    margin: 0;
    padding: 1.5vw;
    border-radius: 0 1.5% 1.5% 0;
}

*{
    margin: 0;
    padding: 0;
}


#header-menu-icon{
    width: 1.8vw;
    height: 1.8vw;
    
    transition: all linear .4s;
    cursor: pointer;
}

#header-menu-icon:hover{
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
}

#header-youtube-icon{
    --size: 2.4vw;

    margin-left: 1vw;


    width: var(--size);
    height: var(--size);
    
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/09/YouTube_full-color_icon_%282017%29.svg/1280px-YouTube_full-color_icon_%282017%29.svg.png");
    background-size: var(--size);
    background-repeat: no-repeat;
}

#header-title{
    width: 25vw;
    height: 1.5em;
    font-size: 1.1vw;
    border: 1.5px solid black;
    margin-left: 1vw;
    padding: 0.1vw;
    color: rgb(129, 129, 129);
}

#header-title-icon{
    margin: 1px;
}

#header-title-text{
    margin: 10px;
}

aside ol li{
    font-size: 1.2em;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline black;
}

/* TRANSITIONS */

.menuTransition-enter-active, .menuTransition-leave-active{
    transition: all linear .2s;
}

.menuTransition-enter, .menuTransition-leave-to{
    transform: translateX(-100%);
}

section{
    padding: 2vw;
}

#section-title-container{
    font-size: 3em;
    text-align: center;
}

#section-text-container{
    font-size: 1.5em;
	padding: 1vw;
}

.img-link:hover{
	text-decoration: none;
}

footer{
    padding: 1vw;
    background: rgb(241, 241, 241);
}

#genres-img-container{
	text-align: center;
	margin: 1vw;
}